.aboutText {
    color: white;

    &__content {
        background-color: rgba($color: #272727, $alpha: 0.5);
        backdrop-filter: blur(10px);
        border-radius: 30px;
        padding: 40px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.7vw;
        align-items: flex-start;
        &:nth-child(2n){
            flex-direction: row-reverse;
        }
    }

    &__subtitle{
        display: block;
        margin-bottom: 10px;
    }

    &__textContent {
        width: 70%;
    }

    &__illustration{
        width:20%;
        img{
            width:100%;
            object-fit: cover;
        }
    }

    &__illustrationHeading {
        font-size: clamp(30px,2.5vw,60px);
        line-height: 1.3;
        font-weight: 700;
        letter-spacing: -2px;
        opacity: 0.8;
    }

    &__text {
        color: #ffffff;
        font-size: clamp(14px,2vw,30px);
        line-height: 1.2;
        opacity: 0.8;
    }

    &__image{
        border-radius: 30px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
}


.text_small {
    color: #929292;
    font-size: clamp(10px, 1.1vw, 16px);
    line-height: 1.55;
}