.breadcrumbs {

    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    // .breadcrumbs__item
    &__item {

        flex-shrink: 0;

        font-family: $primaryFont;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;

        color: #FFFFFF;

        &:last-of-type {
            color: #9D9D9D;
        }


    }

    // .breadcrumbs__arrow
    &__arrow {
        flex-shrink: 0;
        display: flex;
    }
}
