.cart {
    color: white;

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: $breakpoint1200) {
            flex-direction: column;
        }
    }

    &__body {
        flex-grow: 1;

        @media (max-width: $breakpoint1200) {
            width: 100%;
        }

        @media (max-width: $breakpoint768) {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    }

    &__content.form-active {

        @media (max-width: $breakpoint1200) {
            flex-direction: row;
        }

        @media (max-width:$breakpoint992) {
            display: flex;
            flex-direction: column;
        }

        .cart-form {
            @media (max-width:$breakpoint992) {
                width: 100%
            }

            @media (max-width:$breakpoint480) {
                padding: 20px;
            }

            &__name-wrapper {
                @media (max-width:$breakpoint576) {
                    flex-direction: column;
                    gap: 20px;
                }
            }

            @media (max-width:$breakpoint992) {
                .label-main {
                    width: 100%;
                }
            }

            &__wrapper {
                @media (max-width:$breakpoint992) {
                    max-width: 100%;
                }
            }
        }

        .cart__body {
            @media (max-width:$breakpoint992) {
                width: 100%;
            }
        }

        .cart-submit {
            @media (max-width: $breakpoint1200) {
                width: unset;
            }
            @media (max-width:$breakpoint992) {
                width: 100%;
                max-width: none;
            }
        }
    }

    &-item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 1px solid #9C9C9C;
        padding: 25px 40px 25px 30px;
        align-items: center;
        position: relative;
        gap: 20px;

        @media (max-width: $breakpoint768) {
            flex: 0 0 calc(50% - 10px / 2);
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
            border-radius: 10px 10px 10px 10px;
            padding: 20px 20px;
        }

        @media (max-width: $breakpoint576) {
            flex: 0 0 100%;
        }


        &:nth-of-type(1) {
            border-radius: 10px 10px 0px 0px;

            @media (max-width: $breakpoint768) {
                border-radius: 10px 10px 10px 10px;
            }
        }

        &__wrapper {
            display: flex;
            gap: 2.77vw;
            align-items: center;

            @media (max-width: $breakpoint768) {
                flex-direction: column;
                gap: 20px;
            }

            @media (max-width: $breakpoint768) {
                width: 100%;
            }

            &>img {
                width: 130px;

                @media (max-width: $breakpoint768) {
                    width: 85%;
                    max-width: 228px;
                }

            }
        }

        &__characteristics {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        @media (max-width: $breakpoint768) {
            width: 100%;
        }

        &__characteristic {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 8px;
        }

        &__characteristicName {
            font-size: 16px;
            font-weight: 500;
            line-height: 17.39px;
            letter-spacing: -0.02em;
            text-align: left;
            color: #B5B5B5;
        }

        &__characteristicBlank {
            flex-grow: 1;
            height: 1px;
            background: #3f3f3f;
        }

        &__title {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.02em;
            display: flex;
            justify-content: space-between;

            span {
                max-width: 69%;
            }
        }

        &__topWrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;

            @media (max-width: $breakpoint768) {
                width: 100%;
            }
        }

        &__bottomWrapper {
            display: flex;
            align-items: center;
            gap: 2.77vw;

            @media (max-width: $breakpoint1200) {
                flex-direction: column;
                gap: 20px;
                align-items: flex-end;
            }
            
            @media (max-width: $breakpoint768) {
                align-items: flex-start;
            }
        }

        &__price {
            font-size: 40px;
            font-weight: 500;
            line-height: 54.64px;
            letter-spacing: -0.02em;
            white-space: nowrap;

            @media (max-width: $breakpoint1200) {
                font-size: clamp(30px, 3.8vw, 40px);
            }
        }

        &__delete {
            cursor: pointer;
            position: absolute;
            width: fit-content;
            top: 25px;
            right: 30px;

            @media (max-width: $breakpoint1200) {
                top: 10px;
                right: 10px;
            }

            svg {
                &:hover * {
                    transition: all 0.1s ease-in-out;
                    stroke: rgb(142, 19, 19)
                }
            }
        }

        .form {
            @media (max-width: $breakpoint1200) {
                padding: 0;
            }
        }
    }

    &-submit {
        background: #222;
        width: fit-content;
        padding: 30px;
        border-radius: 10px;
        position: sticky;
        top: 90px;
        flex: 0 0 min(50%, 316px);

        @media (max-width: $breakpoint1200) {
            max-width: none;
            width: 100%;
            flex: unset;
        }

        &__ammount {
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -0.02em;
            margin-bottom: 10px;
        }

        &__price {
            font-size: 40px;
            font-weight: 600;
            line-height: 40px;
            letter-spacing: -0.02em;
            margin-bottom: 20px;
            white-space: nowrap;

            @media (max-width: $breakpoint1200) {
                font-size: clamp(30px, 3.8vw, 40px);
            }
        }

        .input-main_outlined {
            margin-bottom: 10px;
            width: 100%;
            padding: 15px 20px;

        }

        .radio-label {
            font-size: 12px;
            font-weight: 400;
            line-height: 16.39px;
            letter-spacing: -0.02em;
            margin-bottom: 10px;

            input[type="checkbox"] {
                appearance: none;
                border: 1px solid #9C9C9C;
                &:checked{
                    border: 1px solid $primaryColor; 
                }
            }
        }

        button.btn {
            width: 100%;
            font-size: 16px;
            font-weight: 500;
            line-height: 19.36px;
            letter-spacing: -0.02em;
            text-align: center;

        }

        &.normal .radio-label {
            display: none;
        }

        &.final .radio-label {
            display: flex;
        }
    }
}

.cart-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 35px 50px;
    border: 1px solid #9C9C9C;
    border-radius: 10px;
    gap: 40px;
    align-items: flex-start;
    width:100%;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width:100%;
        max-width: 604px;
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        line-height: 27.32px;
        letter-spacing: -0.02em;
        color: #fff;
    }

    &__name-wrapper {
        display: flex;
        gap: 1.39vw;
    }

    &__radioWrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.label-main {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.12px;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: calc(50% - 1vw);
    gap: 5px;
}

.radio-label {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.86px;
    color: white;
    cursor: pointer;
    vertical-align: middle;
    display: flex;
    align-items: center;
    gap: 5px;
}

.input-main {
    padding: 20px;
    border: none;
    background: #222;
    color: #9C9C9C;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    letter-spacing: -0.02em;
    transition: all 0.2s ease-in-out;

    &_outlined {
        @extend .input-main;
        font-size: 14px;
        font-weight: 500;
        line-height: 19.12px;
        letter-spacing: -0.02em;
        border: 1px solid #9C9C9C;
    }
}

.input-main:focus {
    color: #fff;
}

.input-main:disabled {
    background: #111;

    &::placeholder {
        color: #222;
    }
}

.radio-main {
    appearance: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    box-shadow: 0 0 0 1px #9C9C9C;
    cursor: pointer;
    border: 6px solid black;
    transition: all 0.1s ease-in-out;
    flex-shrink: 0;

}

.radio-main:checked {
    border: 6px solid black;
    background-color: $primaryColor;
    padding: 6px;
    box-shadow: 0 0 0 1px $primaryColor;
}

label.radio-label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        border: 1px solid #222222;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        flex-shrink: 0;

        &:checked {
            background-color: $brightPrimaryColor;
            position: relative;

            &::before {
                content: url(../img/checkbox-tik.svg);
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
            }
        }
        &.invalid{
            border: 1px solid rgb(142, 19, 19);
        }
    }
}

[for="address"] {
    width: 100%;
}

.form-disabled .cart-form {
    display: none;
}

.form-active .cart-item {
    display: none;
}

.underlined {
    text-decoration: underline solid;
}
