.catalog {
    color: white;

    svg{
        cursor: pointer;
    }

    &__category {
        font-size: 16px;
        font-weight: 400;
        line-height: 21.86px;
        letter-spacing: -0.02em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        background: #222;
        padding: 9px 20px;
        border-radius: 34px;
        margin-bottom: 20px;

        @media screen and (max-width: $breakpoint992) {
            border-radius: 10px;
        }
    }

    &__open-filters {
        margin-bottom: 20px;
        
        @media screen and (min-width: $breakpoint992) {
            display: none;
        }
    }

    .categories {
        font-size: 16px;
        font-weight: 400;
        line-height: 21.86px;
        letter-spacing: -0.02em;
        display: flex;
        justify-content: flex-start;
        gap: 1.5vw;
        flex-wrap: wrap;

        @media screen and (max-width: $breakpoint992) {
            gap: 10px;
        }

        &__view {
            display: flex;
            gap: 0.8vw;

            & .basicSVG * {
                fill: #3f3f3f;
            }

            & .activeSVG * {
                fill: $primaryColor;
            }
            & svg{
              transition: all 0.3s ease-in-out;  
            }

            @media screen and (max-width: $breakpoint1200) {
                display: none;
            }
        }


        &__item {
            a {
                                
                font-family: $primaryFont;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: -0.02em;

                color: #9D9D9D;
            }

            &_active {
                a {
                    font-weight: 400;
                    color: $white;
                }
            }
        }
    }

    &__content {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    &__items {
        width: 100%;
    }

    &__cards {
        gap: 20px;
        display: flex;
        flex-wrap: wrap;

        &_grid {
            @extend .catalog__cards;
        }

        &_rows {
            @extend .catalog__cards;

            @media screen and (min-width: $breakpoint1200) {
                flex-direction: column;
                flex-wrap: unset;
            }
        }
    }


    .card {

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }

        &__categories {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            
        }

        &__category {
            padding: 5px 10px;
            gap: 10px;
            border-radius: 90px;
            font-size: 12px;
            font-weight: 500;
            line-height: 16.39px;
            letter-spacing: -0.02em;
            white-space: nowrap;

            &_outlined {
                border: 1px solid $primaryColor;
                color: $primaryColor;
                @extend .card__category;
            }

            &_white {
                background-color: white;
                color: black;
                @extend .card__category;
            }

            &_primary {
                background-color: $primaryColor;
                color: black;
                @extend .card__category;
            }

            &_red{
                background-color: #F23C00;
                @extend .card__category;
            }
        }

        &>img{
            width:80%;
            max-width: 228px;
            align-self: center;
        }

        &__subtitle {
            font-size: 12px;
            font-weight: 500;
            line-height: 16.39px;
            letter-spacing: -0.02em;
            opacity: 0.3;
        }

        &__title {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.02em;
            display: flex;
            justify-content: space-between;
            span{
                max-width: 69%;
            }
        }
        &__characteristics {
            display: flex;
            flex-direction: column;
            gap:5px;

            &_big {
                @extend .card__characteristics;
                flex-direction: row;
                gap:30px;
                .card__characteristic{
                    flex-direction: column;
                    gap: 0;
                }
                .card__characteristicValue {
                    font-weight: 700;
                    line-height: 30.2px;
                    letter-spacing: -0.02em;
                    text-align: left;
                    color: $primaryColor;
                    font-size: 24px;
                }
                .card__characteristicName {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16.39px;
                    letter-spacing: -0.02em;
                    text-align: left;
                    
                }

            }
        }
        &__characteristic {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 8px;
        }

        &__characteristicName {
            font-size: 16px;
            font-weight: 500;
            line-height: 17.39px;
            letter-spacing: -0.02em;
            text-align: left;
            color: #B5B5B5;
        }

        &__characteristicBlank {
            flex-grow: 1;
            height:1px;
            background: #3f3f3f;
        }

        &__characteristicValue {
            font-family: Manrope;
            font-size: 16px;
            font-weight: 400;
            line-height: 17.39px;
            letter-spacing: -0.02em;
            text-align: left;
        }

        &__subPrice {
            color: #B5B5B5;
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: -0.02em;
        }

        &__price {
            font-size: 40px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: -0.02em;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            gap: 8px;
            margin-top: 5px;

            .mini {
                font-size: 16px;
                font-weight: 500;
                line-height: 21.86px;
                letter-spacing: -0.02em;
                color: #B5B5B5;
            }
        }

        &__buttons{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            &-icon{
                display: flex;
                gap:13px;
                align-items: center;
            }
        }

        &__topWrapper{
            display: flex;
            flex-direction: column;
            gap:10px;            
            margin-bottom: 20px;
            & > .card__categories{
                display: none;
            }
        }

        &__bottomWrapper{
            & div > .card__subtitle{
                display: none;
            }
        }
        &>.card__like{
            display: none;
        }
    }

    &__card {
        &_red {
            .card {
                $red: #F23C00;
                &__price {
                    color: $red;
                }

                &__buttons {
                    .btn {
                        background-color: $red;
                        color: $white;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint1200) {
    .catalog__cards_rows{
        .card{
            position: relative;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            & > img{
                max-width: 169px;
                position: relative;
                left:20px;
            }
            & > .card__top {
                display: none;
            }
            & > .card__subtitle{
                display: none;
            }
            &__bottomWrapper{
                display: flex;
                flex-direction: column;
                gap:25px;
                & div > .card__subtitle{
                    display: block;
                }
            }
            &__topWrapper{
                & > .card__categories{
                    display: flex;
                    margin-bottom: 10px;
                }
            }
            &__title{
                span{
                    max-width: none;
                }
                & img{
                    position: absolute;
                    top:20px;
                    left: 20px;
                    z-index: 2;
                }
            }
            &__like{
                display: block;
                position: absolute;
                right: 20px;
                top: 20px;
            }
        }
    }
}
.basicSVG * {
    stroke: #3f3f3f;
}

.activeSVG * {
    fill: $primaryColor;
    stroke: $primaryColor;
}