.contacts-section {

    &:first-child{
        margin-top: 60px;
    }
    @media screen and (min-width: $breakpoint768) {
        .card {
            flex-grow: 0;
        }
    }
    @media screen and (max-width: $breakpoint768) {
        .cards {
            flex-direction: column;
        }
    }
}