.footer {

    background-color: $backgroundCardColor;
    border-radius: 40px 40px 0 0;
    padding-top: 40px;
    overflow: clip;

    // .footer__row
    &__row {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media screen and (max-width: $breakpoint1200) {
            flex-direction: column;
            align-items: center;
        }

        @media screen and (max-width: $breakpoint992) {
            align-items: flex-start;
        }
    }

    // .footer__col
    &__col {
        display: flex;
        flex-direction: column;
        gap: 40px;

        min-width: min(100%, 180px);
    }

    // .footer__item
    &__item {}

    // .footer__item-caption
    &__item-caption {
        color: #3F3F3F;
        font-size: 14px;
        line-height: 1.55;
        font-weight: 400;
        margin-bottom: 10px;
    }

    // .footer__contacts
    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    // .footer__contact
    &__contact {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            width: clamp(18px, 5vw, 50px);
        }

        a {
            color: #ffffff;
            font-size: clamp(18px, 5vw, 50px);
            line-height: 1.55;
            font-weight: 400;

            &:hover {
                color: $primaryColor;
            }
        }
    }

    // .footer__text
    &__text {
        color: #9D9D9D;
        font-size: 16px;
        max-width: 432px;
    }

    // .footer__navWrapper
    &__navWrapper {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    // .footer__list
    &__list {
        display: flex;
        flex-direction: column;
    }

    // .footer__list-item
    &__list-item {
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        white-space: nowrap;

        &:hover {
            color: $primaryColor;
        }
    }

    // .footer__copy
    &__copy {
        margin-top: 40px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    // .footer__copy-list
    &__copy-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        li,
        a {
            color: rgba($color: #FFF, $alpha: .3);
            font-size: 16px;
            line-height: 1.55;
            font-weight: 300;
            padding: 16px 0;
            position: relative;
            z-index: 1;
        }

        a {
            &:hover {
                color: $white;
            }
        }

        
        position: relative;
        .footer__gradient {
            // opacity: .8;
            position: absolute;
            pointer-events: none;
            z-index: 0;
            left: 0;
            bottom: 0;
            width: 911px;
            height: 911px;
            translate: -45% 45%;
            background-image: url(../img/background-gradient.png);
            background-size: cover;
        }
    }
}
