@mixin search-input {
    position: relative;
    // border-bottom: 1px solid #3F3F3F;

    input {
        width: 100%;
        padding: 7px 25px 7px 0;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.35;
        background: none;
        border-bottom: 1px solid #3F3F3F;

        color: #fff;

        &::placeholder {
            color: #9C9C9C;
        }

        &:active,
        &:focus,
        &:focus-visible {
            border-bottom: 1px solid #FFF;

            & + svg {
                path {
                    stroke: #FFF;
                }
            }
        }

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }
    }

    &-icon {
        position: absolute;
        height: 20px;
        right: 0;
        top: 50%;
        translate: 0 -50%;
    }
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: $headerLayer;
    padding-bottom: 20px;
    
    display: flex;
    flex-direction: column;
    transition: $calmTransition;
}

.top-header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 15px 0;
    background-color: #000;

    color: #9C9C9C;

    // .top-header__nav
    &__nav {
    }

    // .top-header__list
    &__list {
        display: flex;
        align-items: center;
        gap: 30px;

        a {
 
            font-style: normal;
            font-weight: 400;
            font-size: 16px;

            &:hover {
                color: $white;
            }

        }
    }

    // .top-header__search
    &__search {
        flex: 0 1 428px;
        @include search-input;
    }

    // .top-header__contacts
    &__contacts {
        display: flex;
        align-items: center;
        gap: 15px;
        
        font-weight: 400;
        font-size: 16px;
    }

    // .top-header__socials
    &__socials {
        display: flex;
        align-items: center;
        gap: 4px;

        margin-left: 15px;
    }

    // .top-header__social
    &__social {
        display: flex;
        align-items: center;
    }
}

.bottom-header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);

    background-color: #222222;
    border-radius: 10px;
    padding: 10px 20px;

    position: relative;
    transition: $calmTransition;

    // .bottom-header__logo
    &__logo {
        max-width: 180px;
        width: 100%;

        img {
            width: 100%;
            display: block;
        }
    }

    // .bottom-header__nav
    &__nav {
        margin-right: auto;
    }

    // .bottom-header__list
    &__list {

        display: flex;
        align-items: center;
        gap: 20px;

        a {
 
            font-style: normal;
            font-weight: 500;
            font-size: 16px;

            color: #FFFFFF;

        }
    }

    // .bottom-header__droplist
    &__droplist {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    // .bottom-header__contacts
    &__contacts {
        display: flex;
        align-items: center;
        gap: 10px;
        
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: $brightPrimaryColor;
        
        padding-right: 20px;
        border-right: 1px solid #3F3F3F;
    }

    // .bottom-header__socials
    &__socials {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    // .bottom-header__social
    &__social {
        display: flex;
    }

    // .bottom-header__icons
    &__icons {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    // .bottom-header__icon
    &__icon {
        display: flex;
        align-items: center;

        svg {
            height: 35px;
            width: auto;
        }


        &_notification {

            position: relative;

            &::before {
                content: attr(data-notification);
                position: absolute;
                bottom: 2px;
                right: 0;
                translate: 10%;
                
                font-weight: 500;
                font-size: 10px;
                line-height: 1;
                color: #000000;
    
                border-radius: 50%;
                background-color: $brightPrimaryColor;
                width: 16px;
                height: 16px;
                display: flex;
                align-items: center;
                justify-content: center;

            }
        }
    }

    // .bottom-header__burger
    &__burger {
        display: none;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 20px;
        position: relative;
        flex-shrink: 0;

        span {
            @include burger-line;
        }

        &::before {
            content: '';
            @include burger-line;

            position: absolute;
            top: 0;
            left: 0;
        }
        &::after {
            content: '';
            @include burger-line;

            position: absolute;
            bottom: 0;
            left: 0;
        }

        &_active {
            span {
                opacity: 0;
            }
            &::before {
                top: 50%;
                translate: 0 -50%;
                rotate: 45deg;
            }
            &::after {
                rotate: -45deg;
                bottom: 50%;
                translate: 0 50%;
            }
        }
    }
}

.catalog-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background-color: $brightPrimaryColor;
    border-radius: 5px;
    padding: 8px 12px;
    
    
    span {
        color: #000;
    }
    
}

.catalog-header {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding-top: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);

    // .catalog-header__inner
    &__inner {
        border-radius: 5px;
        background-color: #222222;

        display: flex;
    }

    // .catalog-header__menu
    &__menu {
        padding: 20px 30px;
        flex: 0 0 250px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-right: 1px solid #5A5A5A;

        a {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 2px 0;

            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: -0.02em;
            color: #FFFFFF;

            &.active {
                color: $brightPrimaryColor;
                
                svg {
                    path {
                        stroke: $brightPrimaryColor;
                    }
                }
            }
        }
    }

    // .catalog-header__all-products
    &__all-products {
        margin-top: auto;
        a {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: -0.02em;
            color: $brightPrimaryColor;
            text-decoration: underline;
        }

    }

    // .catalog-header__body
    &__body {
        padding: 12px 50px 30px;
        display: flex;
        gap: 20px;
    }

    // .catalog-header__products
    &__products {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    // .catalog-header__category
    &__category {
        display: flex;
        align-items: flex-end;
        gap: 12px;

        img {
            height: 30px;
        }

        a {

            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 14px;
            letter-spacing: -0.02em;
            color: $brightPrimaryColor;
            text-decoration: underline;
            margin-bottom: 4px;

        }
    }

    // .catalog-header__cards
    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        & > * {
            flex: 0 0 127px;
        }
    }

}

.catalog-header-card {
    
    border-radius: 5px;
    background-color: #393939;
    padding: 12px;

    position: relative;
    &::before {
        content: url(../img/header-card-arrow.svg);
        position: absolute;
        top: 8px;
        right: 8px;
        width: 10px;
        height: 10px;
    }

    // .catalog-header-card__img
    &__img {
        width: 82px;

        img {
            width: 100%;
        }
    }

    // .catalog-header-card__title
    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 1.2;
        letter-spacing: -0.02em;
        color: #FFFFFF;

        margin-top: 8px;
    }

    // .catalog-header-card__price
    &__price {

        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.02em;
        color: #FFFFFF;

        margin-top: 2px;
    }
}

@media screen and (max-width: $burgerBreakpoint) {
    .header {
        background-color: #000000;
        padding-bottom: 0;
    }
    .top-header {
        display: none;
    }
    .bottom-header {
        padding: 20px 0;
        border-bottom: 1px solid #3F3F3F;
        background-color: #000000;
        border-radius: 0;

        // .bottom-header__burger
        &__burger {
            display: flex;
        }

        // .bottom-header__nav
        &__nav {
            display: none;
        }

        // .bottom-header__contacts
        &__contacts {
            display: none;
        }

        // .bottom-header__icons
        &__icons {
            margin-left: auto;
        }

        // .bottom-header__icon
        &__icon {

            svg {
                height: 25px;
            }

            &_notification {
                &::before {
                    bottom: -4px;
                    right: -5px;
                }
            }

            &_desc {
                display: none;
            }

        }
    }
}

