@keyframes text-fade-in {
    from {
        translate: 0 200%;
    }

    to {
        translate: 0 0;
    }
}

.hero {

    position: relative;

    margin-top: 120px;
    padding-bottom: 200px;

    @media screen and (max-width: $breakpoint992) {
        padding-bottom: 40px;
    }

    &_about {
        margin-top: 0;
        padding-bottom: 0;

        .hero {
            &__bg {
                opacity: .3;

                @media screen and (max-width: $breakpoint992) {
                    height: 100%;
                }
            }
        }
    }

    &_datacenter {
        margin-top: 0;
        padding-bottom: 0;

        .hero {

            &__text {
                margin-bottom: 50vmax;

                @media screen and (max-width: $breakpoint768) {
                    margin-bottom: 60vmin;
                }
            }

            &__bg {
                top: unset;
                bottom: 0;
                left: calc(-1 * (100vw - 100%) / 2);
                width: 100vw;
                translate: unset;

                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;

                @media screen and (max-width: $breakpoint992) {
                    height: 100%;
                }

                @media screen and (max-width: $breakpoint768) {
                    bottom: 30vmin;
                }

                &-figure {
                    position: absolute;
                    z-index: -2;
                    top: 0;
                    height: 100%;
                    left: 0;
                    width: 100%;
                    object-fit: cover;
                    opacity: .5;
                }

                &-img {
                    width: 100%;
                    position: relative;
                }

                &-text {
                    // position: absolute;
                    position: relative;
                    z-index: -1;
                    width: 80%;
                    translate: 0 0;
                    animation: text-fade-in linear;
                    animation-timeline: view(-100px);

                    @media screen and (max-width: $breakpoint768) {
                        animation-timeline: view(0px);
                        animation-range-start: 0px;
                        animation-range-end: 800px;
                    }
                }

                &-shade {
                    height: min(380px, 20vw);
                }
            }


        }
    }

    &_blog {

        padding-bottom: 0;

        .hero {
            &__title {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: .8em;
                row-gap: .2em;

                span {
                    font-style: normal;
                    font-weight: 600;
                    font-size: clamp(60px, 10vw, 100px);
                    line-height: clamp(60px, 9vw, 90px);
                    ;
                    letter-spacing: -0.03em;

                    background: linear-gradient(91.61deg, #00C1AD 15.2%, #005B52 87.36%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
            }

            &__img {
                display: flex;
                justify-content: center;

                img {
                    max-width: 568px;
                    width: 80%;
                }
            }

            &__bg {
                width: 80%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                @media screen and (max-width: $breakpoint480) {
                    width: 100%;
                }

                .hero__shade {
                    width: 100%;
                    height: 174px;

                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
        }

    }

    &_thanks {

        padding-top: 200px;
        padding-bottom: 200px;

        @media screen and (max-width: $breakpoint992) {
            padding-top: 10vw;
            padding-bottom: 70vw;
        }

        .hero {

            &__title {
                color: #FFF;
                text-align: left;

                span {
                    background: linear-gradient(91.61deg, #00C1AD 15.2%, #005B52 87.36%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }

                @media screen and (max-width: $breakpoint992) {
                    text-align: center;
                }
            }

            &__text {
                margin: 30px 0 0;
                text-align: left;

                @media screen and (max-width: $breakpoint992) {
                    text-align: center;
                    margin: 15px auto 0;
                }
            }

            &__btn {
                margin-top: 70px;
                max-width: 300px;
                width: 100%;
                height: 60px;

                @media screen and (max-width: $breakpoint992) {
                    margin: 30px auto 0;
                }

                @media screen and (max-width: $breakpoint576) {
                    font-size: 16px;
                }
            }

            &__img {
                pointer-events: none;
                position: absolute;
                top: 50%;
                right: -60px;
                translate: 0 -50%;
                width: 60%;
                z-index: -2;

                img {
                    width: 100%;
                }

                @media screen and (max-width: $breakpoint992) {
                    bottom: 0;
                    top: unset;
                    right: 50%;
                    translate: 50%;
                    width: 80%;

                }
            }

            &__shade {
                position: absolute;
                z-index: -1;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 174px;

                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            }

            &__bg {
                width: 80%;
                height: 100%;
                z-index: -3;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                @media screen and (max-width: $breakpoint480) {
                    width: 100%;
                }
            }
        }

    }

    &_calculator {

        padding-top: 150px;
        padding-bottom: 200px;
        margin-bottom: -100px;

        &#calculator-hero {
            margin-top: -75px;

            @media (max-width:992px) {
                margin-top: 0;
            }
        }

        @media screen and (max-width: $breakpoint992) {
            padding-top: 10vw;
            padding-bottom: 70vw;
            margin-bottom: -30px;
        }

        .hero {

            &__title {
                color: #FFF;
                text-align: left;
                max-width: 55%;

                @media screen and (max-width: $breakpoint992) {
                    text-align: center;
                    max-width: 100%;
                }
            }

            &__card {
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 20px;
                background: linear-gradient(112.87deg, rgba(0, 193, 173, 0.1) 0%, rgba(0, 193, 173, 0) 95.68%);
                border-radius: 20px;
                border: 1px solid $primaryColor;
                max-width: 43%;

                margin-top: 30px;

                img {
                    mix-blend-mode: plus-lighter;
                    width: 70px;
                    height: auto;

                    @media screen and (max-width: $breakpoint576) {
                        width: 50px;
                    }
                }

                font-style: normal;
                font-weight: 600;
                font-size: clamp(20px, 3vw, 30px);
                line-height: 110%;
                letter-spacing: -0.02em;
                color: $primaryColor;


                @media screen and (max-width: $breakpoint992) {
                    max-width: 550px;
                    width: fit-content;
                    margin: 20px auto 0;
                }

                @media screen and (max-width: $breakpoint576) {
                    padding: 10px;
                }



            }

            &__text {
                margin: 30px 0 0;
                text-align: left;
                max-width: 40%;

                @media screen and (max-width: $breakpoint992) {
                    text-align: center;
                    margin: 20px auto 0;
                    max-width: 800px;
                    width: 100%;
                }
            }

            &__btn {
                margin-top: 70px;
                max-width: 300px;
                width: 100%;
                height: 60px;

                @media screen and (max-width: $breakpoint992) {
                    margin: 30px auto 0;
                }

                @media screen and (max-width: $breakpoint576) {
                    font-size: 16px;
                }
            }

            &__img {
                pointer-events: none;
                position: absolute;
                right: -60px;
                width: 60%;
                bottom: 50px;
                z-index: -2;

                img {
                    width: 100%;
                }

                @media screen and (max-width: $breakpoint992) {
                    bottom: 0;
                    top: unset;
                    right: 50%;
                    translate: 50%;
                    width: 80%;

                }
            }

            &__shade {
                position: absolute;
                z-index: -1;
                left: 0;
                bottom: 50px;
                width: 100%;
                height: 174px;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

                @media screen and (min-width: 1393px) {
                    bottom: 39px;
                }

                @media screen and (max-width: $breakpoint1200) and (min-width: $breakpoint992) {
                    height: 300px;
                }

                @media screen and (max-width: $breakpoint992) {
                    height: unset;
                    aspect-ratio: 992 / 50;
                    bottom: 0;
                }

                &_top {
                    position: absolute;
                    top: 50px;
                    transform: rotate(180deg);
                    z-index: -1;
                    left: 0;

                    width: 100%;
                    height: 174px;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

                    @media screen and (min-width: 1393px) {
                        top: 39px;
                    }

                    @media screen and (max-width: 1276px) and (min-width:$breakpoint1200) {
                        top: 100px;
                    }

                    @media screen and (max-width: $breakpoint1200) and (min-width: $breakpoint992) {
                        height: 300px;
                    }

                    @media screen and (max-width: $breakpoint992) {
                        height: unset;
                        aspect-ratio: 992 / 50;
                        bottom: 0;
                    }
                }

            }

            &__bg {
                width: 80%;
                height: 100%;
                z-index: -3;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                @media screen and (max-width: $breakpoint1200) {
                    width: 100%;
                    height: 100%;
                }

                @media screen and (max-width: $breakpoint480) {
                    width: 100%;
                }
            }
        }

    }

    &_delievery {
        background: url(../img/delievery-bg.png);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 75px;
        padding-bottom: 70px;

        @media (max-width:$breakpoint992) {
            padding-top: 60px;
            margin-bottom: 40px;
        }

        &__title {
            color: #FFF;
            font-size: clamp(30px, 7vw, 60px);
            font-style: normal;
            font-weight: 600;
            line-height: 1.1;
            /* 110% */
            letter-spacing: -1.2px;
            margin-bottom: 30px;

            &_highlighted {
                background: linear-gradient(90deg, #00C1AD 0%, #005B52 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-style: normal;
            }

            br {
                @media (max-width:$breakpoint480) {
                    display: none;
                }
            }
        }

        &__card {
            display: flex;
            padding: 30px 40px;
            gap: 16px;
            border-radius: 20px;
            border: 1px solid #B2B2B2;
            align-items: center;
            background: linear-gradient(92deg, rgba(0, 193, 173, 0.10) 7.58%, rgba(22, 22, 22, 0.10) 92.42%);
            backdrop-filter: blur(15px);
            max-width: 611px;

            svg {
                flex-shrink: 0;
            }

            @media (max-width:$breakpoint480) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__text {
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%; /* 26.4px */
            letter-spacing: -0.48px;
        }


    }

    &_hosting {
        background: url(../img/hosting-hero-bg.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        padding-top: 75px;
        padding-bottom: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:25px;
        @media (max-width:$breakpoint480) {
            padding-top: 30px;
        }

        &__title {
            color: #FFF;
            text-align: center;
            font-family: Manrope;
            font-size: clamp(30px, 7vw, 60px);
            font-style: normal;
            font-weight: 600;
            line-height: 1.1;
            /* 110% */
            letter-spacing: -1.2px;
        }

        &__subtitle {
            color: #EDEDED;
            text-align: center;
            font-size: clamp(16px, 2.3vw ,20px);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.4px;
            max-width: 899px;
        }

        img{
            max-width: 329px;
        }

        .button-block{
            display: flex;
            gap: 16px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            a{
                white-space: nowrap;
                @media (max-width:$breakpoint480) {
                    width: 100%;
                }
            }
            @media (max-width:$breakpoint480) {
                align-items: stretch;
                width: 100%;
            }
        }
    }

    &_investment {
        background: url(../img/investment-hero.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
        &__text {
            color: #DADADA;
            font-size: clamp(16px,1.33vw,20px);
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.4px;
            @media (max-width:360px) {
                br{
                    display: none;
                }
            }
        }
        
        a.btn{
            max-width: 349px;
            margin-top: 32px;
        }
    }

    // .hero__title
    &__title {
        text-align: center;
        color: $primaryColor;

        span {
            color: $white;
        }
    }

    // .hero__text
    &__text {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -0.02em;
        color: #fafafa;
        text-align: center;
        line-height: 1.3;

        max-width: 660px;
        margin: 20px auto 0;
        opacity: .8;

        @media screen and (max-width: $breakpoint576) {
            font-size: 14px;
        }
    }

    // .hero__items
    &__items {
        margin-top: 350px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media screen and (max-width: $breakpoint992) {
            flex-direction: column-reverse;
            align-items: center;
            margin-top: 330px;
        }
    }

    // .hero__item
    &__item {

        // .hero__item_video
        &_video {
            display: flex;
            align-items: center;
            gap: 10px;

            video {
                width: 72px;
            }

            p {
                color: #b2b2b2;
                font-size: 18px;
                line-height: 1.3;
                font-weight: 300;
                max-width: 300px;
            }
        }

        // .hero__item_border
        &_border {
            // backdrop-filter: blur(10px);
            overflow: hidden;
            border-radius: 12px;

            padding: 20px;
            max-width: 461px;
            // background: url(../img/hero-item-2.png) 0 0 / 100% 100% no-repeat;

            @media screen and (max-width: $breakpoint992) {
                background: unset;
                backdrop-filter: unset;
                padding-left: 0;
                padding-right: 0;
            }

            .hero__item-btn-round {
                // gap: 30px;
                align-items: center;
                text-wrap: nowrap;


                @media screen and (max-width: $breakpoint992) {
                    gap: 0;
                    text-wrap: unset;
                }
            }

            p {
                color: #dedede;
                font-size: 18px;
                line-height: 1.3;
                font-weight: 400;
                padding-right: 8px;
                margin-top: 16px;

                @media screen and (max-width: $breakpoint992) {
                    text-align: center;
                }
            }
        }
    }


    // .hero__bg
    &__bg {
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50%;
        height: 100%;
        width: 100%;
        z-index: -1;

        @media screen and (max-width: $breakpoint992) {
            height: 507px;
            top: 12vw;
        }

        // .hero__bg-video
        &-video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        // .hero__bg-shade
        &-shade {
            position: absolute;
            top: 100%;
            left: 0;
            translate: 0 -90%;
            width: 100%;
            height: 73px;
            background-image: linear-gradient(0turn, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);
        }
    }
}