.hosting-map {
    .section__body {
        position: relative;

        @media (max-width:$breakpoint576) {
            overflow-x: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__bg {
        width: 100%;
        height: auto;

        @media (max-width:$breakpoint576) {

            width: 300%;
            margin-left: -100%;
            height: auto;
        }
    }

    &__shadow {
        display: none;

        @media (max-width: $breakpoint576) {
            display: block;
            height: 100%;
            width: 10%;
            position: absolute;
            background: linear-gradient(to left, #000, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0));
            left: -1px;
            top: 0;
            transform: rotate(180deg);

            &:last-of-type {
                transform: rotate(0deg);
                left: auto;
                top: auto;
                right: 0;
                top: 0;
            }
        }
    }

    .popup-shade {
        pointer-events: none;
        z-index: 2;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }
}

.overlay-point {
    @media (max-width:$breakpoint576) {
        top: 23%;
        left: 68%
    }

    &#ethiopia-overlay-point {
        left: 45%;
        top: 48%;

        @media (max-width:$breakpoint768) {
            left: 43%;
            top: 45%;
        }

        @media (max-width:$breakpoint576) {
            top: 53%;
            left: 23%;
        }
    }

    position: absolute;
    display: inline-flex;
    padding: clamp(8px, 0.93vw, 14px);
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    border-radius: clamp(10px, 0.7vw, 20px);
    background: #1D1D1D;
    color: #ededed;
    top: 0;
    left: 72%;
    top: 19%;
    transform-origin: top left;

    &:hover {
        .overlay-point__subtext {
            display: none;
        }

        @media (min-width:$breakpoint768) {
            .overlay-point__body {
                display: flex;
                gap: 0.6vw;
                flex-direction: column;
                opacity: 1;
            }
        }

    }

    &__head {


        img {
            width: clamp(14px, 2.12vw, 32px);
            height: clamp(14px, 2.12vw, 32px);
        }

        width: 100%;

        h3 {
            color: #FFF;
            leading-trim: both;
            text-edge: cap;
            font-size: clamp(14px, 1.2vw, 20px);
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        p {
            color: #9D9D9D;
            font-size: clamp(12px, 0.9vw, 14px);
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            &#none {
                @media (max-width:$breakpoint768) {
                    display: none;
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        gap: 0.8vw;
        margin-bottom: 0.4vw;
        align-items: center;
    }

    &__body {
        display: none;
        opacity: 0;
        overflow: hidden;
    }



    &__characteristics-title {
        color: #EDEDED;
        font-size: 0.93vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 0.5vw;
    }

    li {
        color: #FFF;
        leading-trim: both;
        text-edge: cap;
        font-family: Manrope;
        font-size: 0.8vw;
        font-style: normal;
        font-weight: 500;
        line-height: 183.333%;
        display: flex;
        align-items: center;
        gap: 3px;
    }

    svg {
        height: 0.7em;
    }

    .date {
        color: #EDEDED;
        font-family: Manrope;
        font-size: 0.93vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }


    @keyframes slideDown {
        from {
            height: 0;
        }

        25% {
            height: 25%
        }

        50% {
            height: 50%
        }

        75% {
            height: 75%
        }

        to {
            height: 100%;
        }
    }

    &__characteristics {
        display: flex;
        $gap: 0.27vw;
        align-items: center;
        gap: $gap;

        .characteristic {
            border-radius: 0.7vw;
            background: #272727;
            display: flex;
            color: #FFF;
            leading-trim: both;
            text-edge: cap;
            font-family: Manrope;
            font-size: 0.8vw;
            font-style: normal;
            font-weight: 400;
            /* 183.333% */
            align-items: center;
            justify-content: center;
            padding: 0.57vw;
            flex-basis: calc(50% - $gap);
        }
    }
}


.overlay-point-mobile {
    position: fixed;
    right: 0;
    color: #EDEDED;
    bottom: 0;
    width: 100%;
    height: 50%;
    overflow-y: auto;
    background-color: #1d1d1d;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 3;
    padding: 20px;
    border-radius: 20px;

    &.show-popup {
        transform: translateY(0);
    }

    &__wrapper {
        margin-bottom: 10px;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__head {
        margin-bottom: 16px;
    }

    .overlay-point-mobile__body {


        .overlay-point-mobile__characteristics_first,
        .overlay-point-mobile__characteistics_second {
            margin-bottom: 20px;
        }

        .overlay-point-mobile__characteristics-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .characteristic {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 20px;
            background-color: #333;
            padding: 7px 20px;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                svg {
                    margin-right: 5px;
                }
            }
        }

        .date {
            font-size: 14px;
            margin-top: 20px;
        }
    }
}

.slide-in {
    transform: translateX(0);
}

.animate-grow {
    height: 72px;
    line-height: 72px;
    background: #E41931;
    border-radius: 20px;
    font-weight: bold;
    font-size: 22px;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    animation: animate_grow 2s infinite;
}

.animate-grow:hover {
    animation: none;
}

@keyframes animate_grow {
    0% {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.overlay-point-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #EDEDED;
    opacity: 0;
    pointer-events: none;
    overflow-y: auto;
    background-color: #1d1d1d;
    transition: all 0.3s ease-in-out;
    z-index: 3;
    padding: 20px;
    border-radius: 10px;

    &.popup-show {
        opacity: 1;
        pointer-events: all;
    }

    @media (max-width:$breakpoint576) {
        width: 80%;
    }

    .overlay-point-mobile__body {


        .overlay-point-mobile__characteristics_first,
        .overlay-point-mobile__characteistics_second {
            margin-bottom: 15.5px;
        }

        .overlay-point-mobile__characteristics-title {
            color: #EDEDED;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.24px;
            margin-bottom: 9px;
        }

        .characteristic {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 20px;
            background-color: #333;
            margin: 0 4px 4px 0;
            padding: 7px 20px;
            color: #FFF;
          /*   leading-trim: both;
            text-edge: cap; */
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px;
            /* 183.333% */
            letter-spacing: -0.24px;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                display: flex;
                align-items: center;
                color: #FFF;
                leading-trim: both;
                text-edge: cap;
                font-family: Manrope;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 1.83;
                letter-spacing: -0.24px;

                svg {
                    margin-right: 5px;
                }
            }
        }

        .date {
            color: #EDEDED;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.24px;
            margin-top: 14px;
        }
    }

    .cross {
        padding: 7px;
        border-radius: 50%;
        background-color: #272727;
        position: absolute;
        top: 20px;
        right: 20px;
        height: 26px;
        width: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
.blink {
    animation: blink 1s linear infinite;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  .blink-animate-on-scroll {
    opacity: 0;
    transition: opacity 1s;
  }
  .blink-animate {
    opacity: 1;
  }