
.mobile-menu {

    position: fixed;
    z-index: $mobileMenuLayer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    translate: 100%;
    overflow-y: auto;
    background: rgba(0, 0, 0);

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;
    transition: $calmTransition;
    opacity: 0;

    &_active {
        translate: 0;
        opacity: 1;
    }

    // .mobile-menu__header
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
    }

    // .mobile-menu__search
    &__search {
        flex: 0 1 100%;
        @include search-input;
    }

    // .mobile-menu__close
    &__close {
    }

    // .mobile-menu__nav
    &__nav {
    }

    // .mobile-menu__list
    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    // .mobile-menu__list-item
    &__list-item {
    }

    // .mobile-menu__list-link
    &__list-link {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
    }

    // .mobile-menu__icons
    &__icons {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    // .mobile-menu__icon-wrpapper
    &__icon-wrapper {

        display: flex;
        align-items: center;
        gap: 10px;

        span {

            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;

        }
    }

    // .mobile-menu__icon
    &__icon {
        flex: 0 0 40px;
    }

    // .mobile-menu__contacts
    &__contacts {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #9C9C9C;

    }

    // .mobile-menu__socials
    &__socials {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    // .mobile-menu__social
    &__social {
        display: flex;
    }
}

