.leazing-hero{
    position: relative;
    z-index: 2;
    overflow:visible;
    .btc-bg{
        position: absolute;
        z-index: 1;
        right:10%;
        width:25%;
        bottom:0;
        img{
            width:100%;
            z-index: 1;
        };
        @media (max-width:$breakpoint1100) {
            width:50%;
        }
        @media (max-width:$breakpoint768) {
            width:100%;
            right: -40%;
        }
    }

    .shadow{
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 174px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }

    button{
        z-index: 2;
    }

    &>img{
        display: block;
        user-select: none;
        pointer-events: none;
        position: absolute;
        width: 130%;
        top:-50%;
        left:-15%;
        z-index: 1;
        @media (max-width:$breakpoint992) {
            transform: rotate(-60deg);
            top:20%;
            left:-80%;
            width:200%;
        }
    }
    &__title{
        font-weight: 400;
        letter-spacing: -0.03em;
        background-color: #00C1AD;
        background-image: linear-gradient(91.61deg, #00C1AD 15.2%, #005B52 87.36%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        font-size: clamp(30px, 6vw, 60px);
        font-weight: 600;
        margin-top: 80px;
        line-height: 1.1;
    }

    &__subtitle {
        color: #FFF;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: -0.48px;
        max-width: 900px;
        @media (max-width: $breakpoint576) {
            max-width: none;
            text-align: center;
        }
        z-index: 2;
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap:30px;
        align-items: flex-start;
        @media (max-width: $breakpoint576) {
            align-items: stretch;
        }
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        gap:22px;
        align-items: flex-start;

    }
}

.leazing-hero__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    @media (max-width: $breakpoint576) {
        flex-direction: column;
        width:100%;
    }

    .section-title {
        display: block;
    }
}

.card-opacity {
    padding: 20px 40px;
    border-radius: 15px;
    background: rgba(0, 193, 173, 0.30);
    backdrop-filter: blur(5px);
    gap: 0;
    z-index: 2;
    @media (max-width: $breakpoint576) {
        flex-grow: 1;
    }

    &__title {
        color: $primaryColor;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.64px;
        @media (max-width: $breakpoint576) {
            font-size: 25px;
        }
    }

    &__subtitle {
        color: #EDEDED;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.36px;

    }
}

.leasing-advantages{
    position: relative;
    z-index: 2;
    &>*{
        position: relative;
        z-index: 2;
    }
    &>img{
        display: block;
        position: absolute;
        user-select: none;
        pointer-events: none;
        width: 130%;
        transform: rotate(180deg);
        top:0%;
        left:-15%;
        z-index: 1;
        @media (max-width:$breakpoint992) {
            transform: rotate(90deg);
            top:80%;
            left:-45%;
            width:200%;
        }
    }
    &>img.big-bg{
        display: block;
        user-select: none;
        pointer-events: none;
        position: absolute;
        width: 130%;
        transform: rotate(180deg);
        top:0%;
        left:-15%;
        z-index: 1;
        @media (max-width:$breakpoint992) {
            width: auto;
            height: 100%;
        }
    }
}

.delievery-cards{
    position: relative;
    z-index: 2;
    * {
        position: relative;
        z-index: 2;
    }
    .bg{
        position: absolute;
        z-index: 1;
        top:-20%;
        width: 113%;
        height: auto;
        left:-6.5%;
        @media (max-width:$breakpoint576) {
            top:0px;
        }
    }
}