
.product-banner {

    border-radius: 20px;
    border: 1px solid $brightPrimaryColor;
    padding: 40px 50px;

    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media screen and (max-width: $breakpoint1200) {
        flex-direction: column;
        gap: 35px;
    }
    @media screen and (max-width: $breakpoint768) {
        padding: 20px;
    }

    // .product-banner__info
    &__info {
    }

    // .product-banner__title
    &__title {

        font-family: $primaryFont;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: -0.02em;

        color: #FFFFFF;
        max-width: 670px;

        @media screen and (max-width: $breakpoint576) {
            font-size: 30px;
        }

    }

    // .product-banner__list
    &__list {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 680px;
        gap: 10px;
        margin-top: 30px;

        li {
            flex: 0 0 calc(50% - 10px / 2);
            display: flex;
            align-items: flex-start;
            gap: 6px;

            font-family: $primaryFont;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.375;

            color: #FFFFFF;

            @media screen and (max-width: $breakpoint768) {
                flex: 0 0 100%;
            }

            span {
                margin-top: .4em;
                flex-shrink: 0;
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 2px;
                rotate: 45deg;
                background-color: $brightPrimaryColor;
            }

        }
    }

    // .product-banner__btns
    &__btns {
        display: flex;
        align-items: center;
        margin-top: 35px;

        @media screen and (max-width: $breakpoint768) {
            flex-direction: column;
            align-items: unset;
            gap: 10px;
        }
    }

    // .product-banner__cards
    &__cards {
        display: flex;
        gap: 20px;
        justify-content: flex-end;

        @media screen and (max-width: $breakpoint768) {
            flex-direction: column;
        }
    }

    // .product-banner__card
    &__card {
        border-radius: 20px;
        background-color: #222222;
        padding: 25px;
        flex: 0 0 260px;
        aspect-ratio: 1;

        display: flex;
        flex-direction: column;

        @media screen and (max-width: $breakpoint1200) {
            flex-grow: 1;
            gap: 20px;
            aspect-ratio: unset;
        }

        @media screen and (max-width: $breakpoint768) {
            flex: unset;
        }
    }

    // .product-banner__card-title
    &__card-title {

        font-family: $primaryFont;
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: -0.02em;

        color: $brightPrimaryColor;

        @media screen and (max-width: $breakpoint576) {
            font-size: 40px;
        }

    }

    // .product-banner__card-text
    &__card-text {
        margin-top: auto;

        font-family: $primaryFont;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.02em;

        color: #FFFFFF;

    }

    // .product-banner__img
    &__img {
        flex: 0 1 505px;

        @media screen and (max-width: $breakpoint1200) {
            flex: unset;

        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

}
