.progress {
    color: #fefefe;


    &__text {
        color: #efefef;
        font-size: clamp(20px, 3vw, 30px);
        line-height: 1.05;
        font-weight: 300;
        letter-spacing: -0.04rem;
        opacity: 0.8;
        max-width: 482px;
        text-align: center;
        margin-top: 40px;
    }

    &__bar,
    .progressBar {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: space-around;
        gap: 20%;

        &__point,
        .point {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap:10px;
            height: 145px;

            &__heading {
                color: $primaryColor;
                font-size: clamp(18px, 3vw, 40px);
                line-height: 1.3;
                letter-spacing: -2px;
                opacity: 0.8;
                height:40px;
            }

            &__text {
                color: #f0f0f0;
                font-size: clamp(14px, 2vw, 24px);
                line-height: 1.3;
                font-weight: 400;
                opacity: 0.8;
                height:40px;
            }

            &__point {
                width: 40px;
                height: 40px;
                background-color: $primaryColor;
                border-radius: 50%;
            }
        }

        &__line {
            &_bg {
                background-color: $primaryColor;
                height: 3%;
                width: 100vw;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                opacity: 0.7;
            }

            &_progress {
                background-color: $primaryColor;
                height: 7%;
                width: 0px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: calc(-1*(100vw - 100%) / 2);
                border-radius: 20px;
                max-width: 70%;
            }
        }
    }
}