.promo {
    $contentPadding: 50px;

    &__content {
        display: flex;
        background: url(../img/promobg.png) center top / cover no-repeat;
        padding: $contentPadding;
        border-radius: 40px;
        position: relative;
        overflow: clip;
        justify-content: space-between;
        gap: 30px;

        @media (max-width:$breakpoint992) {
            flex-direction: column;
            align-items: center;
        }

        @media (max-width:$breakpoint768) {
            padding: 20px;
        }

        &_solid {
            background: $primaryColor;

            @media (max-width:$breakpoint992) {
                flex-direction: column-reverse;
            }
        }

    }

    &__textContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        gap: 20px;

        @media (max-width:$breakpoint992) {
            align-items: center;
            text-align: center;
            width: 100%;
        }

        &_gap {
            gap: 80px;

            @media (max-width:$breakpoint992) {
                gap: 20px;
            }
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__title {
        font-weight: 600;
        opacity: 1;

        &_thin {
            font-weight: 500;
        }
    }

    &__subtitle {
        color: #ffffff;
        font-size: 26px;
        line-height: 1.3;
        font-weight: 400;
    }

    &__image {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;

        @media (max-width:$breakpoint992) {
            width: 100%;
        }

        &_animated {
            @media (max-width:$breakpoint992) {
                height: 300px;
            }
        }

        .img {
            width: 100%;
            border-radius: 30px;
            display: block;
        }
    }


    &__telegram {
        position: absolute;
        top: 50%;
        right: 30%;
        width: 200px;
        z-index: 2;

        @media (max-width:$breakpoint992) {
            right: 5%;
            width: 20vw;
        }
    }

    &__counter {
        position: absolute;
        right: $contentPadding;
        z-index: 1;
        border-radius: 10px;
        width: 355px;
        max-width: 90%;

        animation: fade-out linear;
        animation-timeline: view(0px);
        animation-range-start: 0px;
        animation-range-end: 500px;

        @media (max-width:$breakpoint992) {
            right: unset;
        }
    }

    &_delievery {
        &__title {
            color: #FFF;
            font-size: clamp(25px, 5.5vw, 50px);
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -1px;
            @media (max-width:$breakpoint480) {
                br{
                    display: none;
                }
            }
        }

        &__content {
            z-index: 2;
            position: relative;
            border-radius: 20px;
            background: #000;
            background-image: url(../img/delievery-promo-bg.png);
            background-position: center right;
            background-size: cover;
            padding: 40px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            @media (max-width:$breakpoint768) {
                background-position: left center;
            }


            * {
                z-index: 2;
            }

            .btn {
                max-width: 250px;
            @media (max-width:$breakpoint768) {
                max-width: none;
                width:100%;
            }
            }
        }

        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            max-width: 722px;
            @media (max-width:$breakpoint992) {
                display: flex;
                flex-direction: column;
                gap:10px;
            }
        }

        li {
            display: flex;
            gap: 15px;
            color: #EDEDED;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.4px;
            align-items: center;
            @media (max-width:$breakpoint992) {
                align-items: first baseline;
            }
            svg{
                flex-shrink: 0;
            }
        }

    }
}

@keyframes fade-out {
    from {
        transform: translateY(30%);
    }

    to {
        transform: translateY(0%);
    }
}


.product-promo {


    // .product-promo__content
    &__content {
        padding: 40px 50px;
        border-radius: 20px;
        overflow: hidden;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @media screen and (max-width: $breakpoint768) {
            flex-direction: column;
            align-items: unset;
            padding: 30px;
        }
    }

    // .product-promo__textContent
    &__textContent {}

    // .product-promo__text
    &__text {}

    // .product-promo__title
    &__title {}

    // .product-promo__subtitle
    &__subtitle {

        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;

        color: #FFFFFF;

        margin-top: 15px;
    }

    // .product-promo__btn
    &__btn {
        flex-shrink: 0;
    }
}