


.reviews {

    display: flex;
    gap: 42px;
    align-items: center;

    // .reviews__btn
    &__btn {

        cursor: pointer;

        @media screen and (max-width: $breakpoint992) {
            display: none;
        }

        // .reviews__btn_prev

        &_prev {
        }

        // .reviews__btn_next

        &_next {
        }
    }

    // .reviews__swiper
    &__swiper {
        flex-grow: 1;
    }
}

.review {

    border-radius: 10px;
    background-color: #222222;
    padding: 20px 5px 20px 25px;

    @media screen and (max-width: $breakpoint992) {
        &.swiper-slide {
            width: 300px;
        }
    }

    // .review__stars
    &__stars {
        display: flex;
        align-items: center;
    }

    // .review__star

    &__star {

        // .review__star_active
        &_active {
            path {
                fill: #F23C00;
            }
        }
    }

    // .review__name
    &__name {
                
        font-family: $primaryFont;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.02em;

        color: #FFFFFF;

        margin-top: 20px;
    }

    // .review__text
    &__text {
                
        font-family: $primaryFont;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.02em;

        color: #B5B5B5;

        margin-top: 10px;

    }
}
