.banner {
    &__content {
        background: $primaryColor;
        display: flex;
        padding: 30px;
        justify-content: space-between;
        align-items: center;
        position: relative;
        flex-wrap: nowrap;
        border-radius: 50px;
        gap: 40px;

        @media(max-width:$breakpoint768) {
            padding: 20px;
        }

        @media (max-width:$breakpoint480) {
            flex-direction: column-reverse;
            padding-bottom: 20%;
        }
    }

    &__image {
        position: absolute;
        z-index: 1;
        left: 0;

        @media(max-width:$breakpoint768) {
            height: 100%;
            bottom: -10px;
        }

        @media(max-width:$breakpoint480) {
            height: 60%;
            bottom: -10px;
            left: 20%
        }
    }

    &__text {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        gap: 20px;
        width: 70%;
        @media (max-width:$breakpoint480) {
            flex-direction: column;
            text-align: center;
        }
    }

    &__title {
        font-size: clamp(18px, 2vw, 24px);
    }

    &__price {
        font-size: clamp(30px, 5vw, 35px);
        position: relative;
        top: 10px;
        font-weight: 700;
        color: white;
        z-index: 2;
        background: $primaryColor;
        white-space: nowrap;
        transform: rotate(5deg);
        @media (max-width:$breakpoint480) {
            font-size: 50px;
            position: relative;
            top: 40px;
        }
    }

    &__button {
        font-size: clamp(12px, 2vw, 16px);
    }
}