@keyframes fade-in {
    50% {
        // scale: 1.05;
        left: calc(-1*(100vw - 100%) / 2);
        right: calc(-1*(100vw - 100%) / 2);
        top: -40px;
        bottom: -40px;
    }

    to {
        // scale: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

.section {

    margin-top: 130px;
    margin-bottom: 130px;
    scroll-margin: 130px;

    @media screen and (max-width: $breakpoint768) {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    @media screen and (max-width: $breakpoint576) {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    // .section_bg
    &_bg {
        padding-top: 40px;
        padding-bottom: 40px;
        position: relative;
    }

    // .section__bg
    &__bg {

        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background-color: $primaryColor;
        border-radius: 40px;

        transform-origin: center center;
        animation: fade-in linear;
        animation-timeline: view(300px);

    }

    // .section__header
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }

    // .section__body
    &__body {
        margin-top: 40px;

        &_centered {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:30px;
        }
    }

}

.m-90 {
    margin-top: 90px;
    margin-bottom: 90px;
    scroll-margin: 90px;

    @media screen and (max-width: $breakpoint768) {
        margin-top: 70px;
        margin-bottom: 70px;
    }
    @media screen and (max-width: $breakpoint576) {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.mb-90 {
    margin-bottom: 90px;
    scroll-margin: 90px;

    @media screen and (max-width: $breakpoint768) {
        margin-bottom: 70px;
    }
    @media screen and (max-width: $breakpoint576) {
        margin-bottom: 40px;
    }
}

.m-100 {
    margin-top: 100px;
    margin-bottom: 100px;
    scroll-margin: 100px;

    @media screen and (max-width: $breakpoint768) {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    @media screen and (max-width: $breakpoint576) {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}