.smallPromo {
    color: white;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin: 0 auto;
        max-width: 652px;
    }

    &__text {

        @media (max-width: $breakpoint768) {
            text-align: center;
        }

        &_centered {
            text-align: center;
        }
    }
}