.tooltip {

    display: flex;
    align-items: center;
    gap: 6px;

    // .tooltip__text
    &__text {

        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: #FFFFFF;

    }

    svg {
        width: 20px;
        height: auto;
        cursor: pointer;
    }
}
