// Container
$conteinerWidth: 1400 + px;
$containerPadding: 20 + px;

// Breakpoints
$breakpoint1450: 1449.98 + px;
$breakpoint1366: 1365.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint576: 575.98 + px;
$breakpoint480: 479.98 + px;

// Fonts
$primaryFont: "Manrope";

// Layers
$mobileMenuLayer: 9;
$headerLayer: 8;

// Colors
$black: #000;
$white: #FFF;
$primaryColor: #00c1ad;
$backgroundCardColor: #262626;

// Transition
$calmTransition: all .2s ease-in-out;

// Burger
$burgerBreakpoint: $breakpoint1366;
$burgerColor: orange;
$burgerBackground: lightblue;